body {
  background-color: #dcdcdc;
  font-family: Georgia,serif;
  font-size: 10pt;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 75px;
  padding-bottom: 75px;
  color: #343434;
}

a, a:link, a:visited {
  color: #343434;
  text-decoration: underline;
}

a:hover {
  color: #0000ff;
}

h1 {
  color: #000000;
  font-size: 30pt;
  letter-spacing: -0.75pt;
  text-align: center;
}

#title {
  font-size: 80pt;
  letter-spacing: -5pt;
  margin-top: 0pt;
  margin-bottom: 20pt;
  font-weight: bolder;
}

h2 {
  color: #000000;
  font-size: 18pt;
  letter-spacing: -0.75pt;
}

p {
  line-height: 14pt;
}

.home {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

ul {
  padding-left: 16pt;
}

li {
  padding-bottom: 0.5em;
}